/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;

  --special-brown-light: #604E43;
  --special-brown-dark: #503E33;
  --special-blue-dark: #669EC0;
  --special-blue-middle: #5496BD;
  --special-extra-black: #333333;
  --special-gray: #666666;
  --special-black: rgba(35, 31, 32, 1);
  --special-blue: rgba(129, 179, 210, 1);
  --special-gray: rgba(189, 187, 188, 1);
  --special-black-transparent: rgba(0, 0, 0, 0.3);
  --special-white-transparent: rgba(255, 255, 255, 0.9);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */
.main-header {
margin-bottom: 70px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 140px 1fr;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special-blue-dark)
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main greeting */

.main-greeting {
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  margin-bottom: 50px;
}

.greeting {
  margin-bottom: 30px;
}

/* About us */

.about-us {
  text-align: center;
}

.about-us h2 {
  font-size: 21px;
  line-height: 26px;
}

.about-us p {
  font-weight: 400;
  line-height: 26px;
}

/* Feature one */

.feature-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
}

.feature-one h2 {
  font-size: 21px;
}

.feature-one p {
  font-weight: 400;
  margin: 0 10px;
}

/* Feature two */
.feature-two {
  text-align: center;
}

.feature-two-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-two-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-two-item p {
  font-weight: 400;
  margin: 0 10px;
}

/* Feature three */

.feature-three {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
}

.feature-three h2 {
  font-size: 21px;
}

.feature-three p {
  font-weight: 400;
  margin: 0 10px;
}

/* Feature four */
.feature-four {
  text-align: center;
}

.feature-four-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-four-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-four-item p {
  font-weight: 400;
  margin: 0 10px;
}

/* Appointment */

.appointment {
  display: grid;
  text-align: center;
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
}

.appointment p {
  font-weight: 400;
  line-height: 24px;
}

/* Map */

.map {
  display: grid;
}

/* Main footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  margin-top: 35px;
  background-color: var(--special-white);
}

.footer-contacts {
  width: 400;
  margin: 0;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
  color: inherit;
}

.footer-social {
  width: 150px;
  margin: 0;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover {
  background-color: var(--special-blue-dark);
}

.social-button:active {
  background-color: var(--special-blue-middle);
}

/* Copyright */

.footer-copyright {
  width: 200;
  margin: 0;
  justify-self: end;
  text-align: center;
}

.footer-copyright a {
  color: inherit;
}

.copyright-button {
  color: var(--special-black-transparent);
}

.copyright-button:hover {
  color: var(--special-blue)
}

.copyright-button:active {
  color: var(--special-gray);
}

/* Filters */

.filter {
  color: var(--basic-white);
  background-color: var(--special-brown-light); /*Для контраста текста*/
}

.filter-list {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 16px;
}

.filter ul {
  list-style: none;
}

.filter label {
  font-weight: normal;
}

.infrastructure {
  justify-self: left;
}

.type-housing {
  justify-self: left;
}

.cost {
  justify-self: end;
}

.min-priсe {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.max-priсe {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-show-options {
  font:inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;

}

.button-show-options:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Results */

.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
}

.results a {
  color: var(--special-black-transparent)
}

.results a:hover {
  color: var(--basic-blue);
}

.results a:active {
  color: var(--basic-black);
}

.results h2 {
  font-size: 21px;
  line-height: 26px;
}

.results p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Catalog */

.catalog-list {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item a:hover {
  color: var(--basic-blue);
}

.catalog-item a:active {
  color: var(--special-black-transparent);
}

.catalog h3 {
  font-size: 21px;
  line-height: 26px;
}

.catalog-item p {
  font-weight: 400;
  color: var(--special-extra-black)
}

.button-details {
  font:inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
}

.button-details:hover {
  background-color: var(--special-blue-dark);
}

.button-details:active {
  color: var(--special-black-transparent);
  background-color: var(--special-blue-middle);
}

.button-reservation {
  font:inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
}

.button-reservation:hover {
  background-color: var(--special-brown-light);
}

.button-reservation:active {
  color: var(--special-black-transparent);
  background-color: var(--special-brown-dark);
}

.catalog-item .rating {
  color: var(--special-gray);
}
