/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;

  --special-brown-light: #604E43;
  --special-brown-dark: #503E33;
  --special-brown-extra: #967E7C;
  --special-blue-dark: #669EC0;
  --special-blue-middle: #5496BD;
  --special-blue-high: #DBE9F2;
  --special-extra-black: #333333;
  --special-gray-lighter: #EBEBEB;
  --special-gray-light: #666666;
  --special-gray-middle: #6A6A6A;
  --special-gray-dark: #ABABAB;
  --special-gray-super-light: #E5E5E5;
  --special-gray-dark-transparent: rgba(171, 171, 171, 0.3);
  --special-gray-extra-light:#F2F2F2;
  --special-black: rgba(35, 31, 32, 1);
  --special-blue: rgba(129, 179, 210, 1);
  --special-gray: rgba(189, 187, 188, 1);
  --special-black-transparent: rgba(0, 0, 0, 0.3);
  --special-black-white: rgba(0, 1, 1, 0.2);
  --special-white-transparent: rgba(255, 255, 255, 0.9);
  --special-white-transparent-extra: rgba(255, 255, 255, 0.3);
  --special-white-transparent-light: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray);

  min-height: 100%;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px var(--special-black-white);
}

/* Main navigation */

.main-header {
  position: relative;
}

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  min-height: 56px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 73px;
  padding: 0;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  width: 227px;
}

.site-navigation :nth-child(2) {
  margin-right: auto;
}

.site-navigation :nth-child(3) {
  text-align: right;
}

.site-navigation :nth-child(4) {
  text-align: right;
}

.site-navigation :nth-child(6) {
  margin-right: auto;
}

.site-navigation :nth-child(7) {
  text-align: right;
}

.site-navigation :nth-child(8) {
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--special-blue-dark)
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .site-navigation-item-selected {
  color: var(--basic-brown);
}

.main-header-logo {
  width: 138px;
  position: absolute;
  left: -69px;
  margin-left: 50%;
  z-index: 10;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* Main greeting */

.main-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  position: relative;
  width: 1200px;
  height: 509px;
  background-color: var(--special-blue-high);
  background-image: url(../img/index_background_photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.greeting :nth-child(1) {
  padding-top: 76px;
  padding-left: 371px;
  padding-bottom: 21px;
}

.greeting::after {
  content: "";
  position: absolute;
  top: 453px;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url(../img/shape_background_index.svg);
  background-repeat: no-repeat;
}

/* About us */

.about-us {
  text-align: center;
  padding-top: 42px;
  margin-bottom: 38px;
}

.about-us h2 {
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.about-us p {
  padding: 0 20px;
  font-weight: 400;
  line-height: 26px;
}

/* Feature one */

.feature-one {
  display: flex;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
}

.feature-one h2 {
  font-size: 21px;
  text-align: center;
  padding: 46px 0 27px 0;
  margin: 0;
}

.feature-one p {
  font-weight: 400;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 24px;
  text-align: center;
}

.feature-one-paragraph {
  width: 400px;
}

.feature-one-img {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.feature-one-img img {
  width: 100%;
  height: 100%;
}

/* Feature two */
.feature-two {
  text-align: center;
  min-height: 330px;
}

.feature-two-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  list-style: none;
}

.feature-two-item {
  padding-top: 160px;
  position: relative;
  width: 400px;
}

.feature-two-item-housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url(../img/house_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-two-item-food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url(../img/food_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.feature-two-item-souvenir::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 168px;
  width: 72px;
  height: 77px;
  background-image: url(../img/souvenirs_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-two-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.feature-two-item p {
  font-weight: 400;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}

.feature-two-item-housing-paragraph {
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}

.feature-two-item-food-paragraph {
  padding: 0;
  padding-left: 58px;
  padding-right: 56px;
  padding-bottom: 0;
  text-align: center;
}

.feature-two-item-souvenir-paragraph {
  padding: 0;
  padding-left: 64px;
  padding-right: 60px;
  padding-bottom: 0;
}

/* Feature three */

.feature-three {
  display: flex;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
}

.feature-three-paragraph {
  width: 400px;
}

.feature-three h2 {
  font-size: 21px;
  text-align: center;
  padding: 50px 0 27px 0;
  margin: 0;
}

.feature-three p {
  font-weight: 400;
  margin: 0;
  padding: 0 5px 23px 5px;
}

.feature-three-img {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.feature-three-img img {
  width: 100%;
  height: 100%;
}
/* Feature four */
.feature-four {
  background-color: var(--basic-gray);
  text-align: center;
}

.feature-four-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  list-style: none;
}

.feature-four-item {
  width: 400px;
}

.feature-four-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 47px 120px 26px 120px;
  margin: 0;
}

.feature-four-item p {
  font-weight: 400;
  margin: 0;
  padding: 0 50px 23px 50px;
}

/* Appointment */

.appointment {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 568px;
  margin: 0 auto;
}

.appointment h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  padding: 56px 13px 33px 0;
}

.appointment p {
  margin: 0;
  padding: 0;
}

.appointment .appointment-info {
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 65px 44px 65px;
}

.appointment .appointment-source {
  position: relative;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 30px 0 30px 0;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  outline: none;
  cursor: pointer;
}

.appointment-source:hover,
.appointment-source:focus {
  background-color: var(--special-brown-light);
}

.appointment-source:active {
  color: var(--special-white-transparent-extra);
  background-color: var(--special-brown-dark);
}

.appointment-form-show {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 55px;
  top: 290px;
  left: 0;
  z-index: 10;
  padding-top: 54px;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--special-black-white);
  animation: bounce 0.6s;
}

.appointment-form-clos {
  display: none;
}

.appointment-item {
  height: 68px;
}

.appointment-item-date-in {
  width: 465px;
}

.appointment-item-date-in label {
  margin-right: 20px;
}

.appointment-item-date-in .appointment-item-date-button {
  content: "";
  position: absolute;
  top: 62px;
  left: 482px;
  width: 27px;
  height: 23px;
  background-image: url(../img/calendar-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.appointment-item-date-in .appointment-item-date-button:hover,
.appointment-item-date-in .appointment-item-date-button:focus {
  background-image: url(../img/calendar-middle.svg);
}

.appointment-item-date-in .appointment-item-date-button:active {
  background-image: url(../img/calendar-high.svg);
}

.appointment-item-date-out .appointment-item-date-button {
  content: "";
  position: absolute;
  top: 130px;
  left: 482px;
  width: 27px;
  height: 23px;
  background-image: url(../img/calendar-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.appointment-item-date-out .appointment-item-date-button:hover,
.appointment-item-date-out .appointment-item-date-button:focus {
  background-image: url(../img/calendar-middle.svg);
}

.appointment-item-date-out .appointment-item-date-button:active {
  background-image: url(../img/calendar-high.svg);
}

.appointment-item-date-out {
  width: 461px;
}

.appointment-item-date-out label {
  margin-right: 16px;
}

.appointment-item-date-out input::placeholder {
  color: var(--basic-black);
  padding-left: 12px;
}

.appointment-item input {
  width: 341px;
  height: 38px;
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  outline: none;
  border: none;
  background: var(--basic-gray);
}

.appointment-item input:hover {
  background: var(--special-gray-lighter);
}

.appointment-item input:focus {
  background: var(--special-gray-lighter);
}

.appointment-item input:active {
  background: var(--basic-white);
  outline: 2px solid var(--special-gray-super-light);
  outline-offset: -2px;
  box-sizing: border-box;
  height: 40px;
  width: 345px;
}

.appointment-item-date-in input::placeholder {
  color: var(--basic-black);
  padding-left: 12px;
}

.appointment-item-adult label {
  margin-right: 35px;
}

.appointment-item-adult input {
  width: 112px;
  height: 38px;
  text-align: center;
}

.appointment-item-adult input:active {
  width: 116px;
}

.appointment-item-kids input {
  width: 111px;
  height: 38px;
  text-align: center;
}

.appointment-item-kids input:active {
  width: 115px;
}

.appointment-item-adult input::placeholder,
.appointment-item-kids input::placeholder {
  color: var(--basic-black);
  text-align: center;
}

.appointment-item-kids label {
  margin-left: 54px;
  margin-right: 20px;
}

.button-minus-adult {
  content: "";
  position: absolute;
  top: 209px;
  left: 180px;
  width: 12px;
  height: 5px;
  background-image: url(../img/minus-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.button-minus-adult:hover,
.button-minus-adult:focus {
  background-image: url(../img/minus-middle.svg);
}

.button-minus-adult:active {
  background-image: url(../img/minus-high.svg);
}

.button-plus-adult {
  content: "";
  position: absolute;
  top: 205px;
  left: 254px;
  width: 12px;
  height: 12px;
  background-image: url(../img/plus-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.button-plus-adult:hover,
.button-plus-adult:focus {
  background-image: url(../img/plus-middle.svg);
}

.button-plus-adult:active {
  background-image: url(../img/plus-high.svg);
}

.button-minus-kids {
  content: "";
  position: absolute;
  top: 209px;
  left: 410px;
  width: 12px;
  height: 5px;
  background-image: url(../img/minus-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.button-minus-kids:hover,
.button-minus-kids:focus {
  background-image: url(../img/minus-middle.svg);
}

.button-minus-kids:active {
  background-image: url(../img/minus-high.svg);
}

.button-plus-kids {
  content: "";
  position: absolute;
  top: 205px;
  left: 488px;
  width: 12px;
  height: 12px;
  background-image: url(../img/plus-low.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.button-plus-kids:hover,
.button-plus-kids:focus {
  background-image: url(../img/plus-middle.svg);
}

.button-plus-kids:active {
  background-image: url(../img/plus-high.svg);
}

.button {
  font: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 55px;
  padding-left: 6px;
  width: 458px;
  height: 58px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-blue-dark);
}

.button:active {
  background-color: var(--special-blue-middle);
  color: var(--special-white-transparent-extra);
}

/* Map */

.map {
  position: relative;
}

.map p {
  margin: 0;
  padding: 0;
}

.map img {
  width: 1199px;
  height: 594px;
}

.map .interactive-map {
  position: absolute;
  width: 1199px;
  margin: 0 auto;
  top: 0;
  left: 0;
}

/* Main footer */

.main-footer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  height: 120px;
  padding: 0;
  margin-top: 0;
  background-color: var(--special-white);
}

.main-footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 2642px;
  background: var(--special-white-transparent);
}

.footer-contacts {
  width: 350px;
  padding-top: 22px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  padding-bottom: 8px;
}

.footer-phone {
  color: inherit;
}

.footer-social {
  padding-top: 37px;
  width: 350px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-button:hover {
  background-color: var(--special-blue-dark);
}

.social-button:active {
  background-color: var(--special-blue-middle);
}

.social-button:active path {
  opacity: 0.3;
}

/* Copyright */

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 0;
  text-align: center;
}

.footer-copyright a {
  color: inherit;
}

.footer-copyright p {
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-right: 8px;
}

.footer-copyright .footer-copyright-text {
  padding-left: 30px;
}

.copyright-button {
  width: 115px;
  height: 40px;
  color: var(--special-black-transparent);
}

.copyright-button:hover path {
  fill: var(--special-blue);
}

.copyright-button:active path {
  fill: var(--special-gray);
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

/* Filters */

.filter {
  color: var(--basic-white);
  background-color: var(--special-brown-extra);
  background-image: url(../img/catalog_background_photo.jpg);
  background-position: top center;
  background-repeat: repeat;

  min-height: 217px;
}

.filter-list {
  display: flex;
  padding: 0;
  margin: 0 72px 0 72px;
}

.filter-list :nth-child(1) {
  padding-right: 60px;
}

.filter-list :nth-child(3) {
  margin-left: auto;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-top: 26px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter label {
  font-weight: normal;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-checkbox:focus + label {
  outline: 2px dotted var(--basic-white);
}

.cost {
  margin: 0;
  padding: 0;
  border: 0;
  width: 317px;
}

.cost legend {
  margin-bottom: 10px;
}

.cost input {
  width: 120px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--basic-white);
  background: transparent;
  border: none;
  outline: 0;
}

.cost-prise {
  display: flex;
  width: 317px;
  height: 33px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-image: url(../img/vertical-line.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cost-prise :nth-child(1) {
  padding-left: 67px;
  padding-right: 26px;
}

.cost input::placeholder {
  color: var(--basic-white);
}

.range-filter {
  width: 317px;
}

.range-controls {
  position: relative;
  height: 13px;
  padding-top: 11px;
  padding-left: 5px;
  margin-top: 9px;
  margin-bottom: 23px;
}

.range-controls .scale {
  height: 2px;
  width: 100%;
  background: var(--special-white-transparent-light);
}

.range-controls .bar {
  width: 75%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 19px;
  height: 21px;
  padding: 0;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  cursor: pointer;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-min:focus {
  position: absolute;
  content: "";
  top: 1px;
  left: -2px;
  width: 23px;
  height: 24px;
  padding: 0;
  background-image: url(../img/filter-button-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.range-controls .toggle-max {
  left: 252px;
}

.range-controls .toggle-max:hover,
.range-controls .toggle-max:focus {
  position: absolute;
  content: "";
  top: 1px;
  left: 250px;
  width: 23px;
  height: 24px;
  padding: 0;
  background-image: url(../img/filter-button-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  outline: none;
}

.min-priсe {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.max-priсe {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-show-options {
  padding: 5px 33px 6px 35px;
  margin: 0;
  margin-left: 88px;
  font:inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
}

.button-show-options:hover,
.button-show-options:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

/* Results */

.results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 29px;
  padding: 0;
  padding-left: 72px;
  padding-bottom: 31px;
  border-bottom: 1px solid var(--special-gray-super-light);
}

.results a {
  display: block;
  color: var(--special-black-transparent)
}

.results .results-price {
  color: var(--basic-blue);
}

.results a:hover,
.results a:focus {
  color: var(--basic-blue);
}

.results a:active {
  color: var(--basic-black);
}

.results a:checked {
  color: var(--basic-blue);
}

.results h2 {
  margin: 0;
  padding: 0;
  padding-right: 48px;
  font-size: 21px;
  line-height: 26px;
}

.results p {
  margin: 0;
  padding: 0;
  padding-right: 36px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.results-type {
  border-bottom: 1px dotted var(--basic-blue);
}

.results-rating {
  border-bottom: 1px dotted var(--basic-blue);
}

.results .results-sorting {
  position: relative;
}

.results-sorting-triangle {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 72px;
  width: 34px;
  height: 10px;
}

.results-sorting-triangle-up {
  content: "";
  position: absolute;
  top: 2px;
  width: 11px;
  height: 10px;
  background-color: transparent;
  background-image: url(../img/triangle-up-gray.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
}

.results-sorting-triangle-down {
  content: "";
  position: absolute;
  top: 2px;
  left: 20px;
  width: 11px;
  height: 10px;
  background-color: transparent;
  background-image: url(../img/triangle-down-blue.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
}

.results-sorting-triangle-up:hover,
.results-sorting-triangle-up:focus {
  background-image: url(../img/triangle-up-black.svg);
}

.results-sorting-triangle-down:hover,
.results-sorting-triangle-down:focus {
  background-image: url(../img/triangle-down-black.svg);
}

.results-sorting-triangle-up:active,
.results-sorting-triangle-up:checked {
  background-image: url(../img/triangle-up-blue.svg);
}

.results-sorting-triangle-down:active,
.results-sorting-triangle-down:checked {
  background-image: url(../img/triangle-down-blue.svg);
}

/* Catalog */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--special-gray-super-light);;
}

.catalog-item .rating {
  position: relative;
  width: 110px;
  height: 25px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 72px;
  padding: 0;
  padding-top: 3px;
  text-align: center;
  align-self: flex-end;
  margin-left: auto;
  color: var(--special-gray-light);
  background-color: var(--special-gray-extra-light);
}

 .rating-four-star::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0;
  width: 90px;
  height: 17px;
  background-image: url(../img/star-icon.svg);
  background-repeat: space;
  background-position: 0 0;
}

.rating-three-star::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0;
  width: 65px;
  height: 17px;
  background-image: url(../img/star-icon.svg);
  background-repeat: space;
  background-position: 0 0;
}

.rating-two-star::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0;
  width: 42px;
  height: 17px;
  background-image: url(../img/star-icon.svg);
  background-repeat: space;
  background-position: 0 0;
}

.catalog-item-paragraph {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 30px;
}

.catalog-item-type-price-button {
  display: flex;
}

.catalog-item-type-price-button p {
  width: 114px;
}

.catalog-item a {
  display: block;
  color: var(--basic-black);
}

.catalog-item-image {
  margin-left: 72px;
  margin-top: 5px;
  object-fit: contain;
  background-color: var(--basic-white);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: var(--basic-blue);
}

.catalog-item a:active {
  color: var(--special-black-transparent);
}

.catalog h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--special-extra-black)
}

.catalog-item-button {
  display: flex;
}

.catalog-item-button a {
  color: var(--basic-white);
}

.catalog-item-button a:hover,
.catalog-item-button a:focus {
  color: var(--basic-white);
}

.catalog-item-button a:active {
  color: var(--special-white-transparent-light);
}

.button-details {
  margin-top: 15px;
  padding: 3px 18px 3px 15px;
  font:inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-blue);
  border: none;
  margin-right: 6px;
}

.button-details:hover {
  background-color: var(--special-blue-dark);
}

.button-details:active {
  background-color: var(--special-blue-middle);
}

.button-reservation {
  margin-top: 15px;
  padding: 3px 18px 3px 15px;
  font:inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
}

.button-reservation:hover {
  background-color: var(--special-brown-light);
}

.button-reservation:active {
  color: var(--special-white-transparent-light);
  background-color: var(--special-brown-dark);
}

/* Animations*/

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.appointment-form-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(25px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
